body {
	overflow-y: hidden;
}

input, select, textarea {
	margin: 5px 0;
}

textarea {
	resize: vertical;
}

.box-clean {
	margin: 0;
	padding: 0;
}

.scroll {
	height: 80vh;
	width: inherit;
	overflow-y: auto;
	overflow-x: hidden;
}

#result {
	text-align: left;
}

.navbar {
	border-radius: 0;
}

.container-fluid, table, th {
	text-align: center;
}

.v-align{
	position: relative;
	top: 50%;
}

.v-align-left{
	position: relative;
	top: 50%;
	text-align: left;
}

.align-right {
	text-align: right;
}

.section-1 {
	height: 100vh;
}

#scoring {
	padding: 50px 30px;
}

#detail-perusahaan {
	padding-bottom: 50px;
}

.nav-content {
	padding: 10px 30px;
	height: 80vh;
	overflow-y: auto;
}

#scoring .form-group {
	padding: 10px;
}

#result, #detail-perusahaan {
	padding-top: 70px;
}

#dp-tab2,#dp-tab3,#dp-tab4,#dp-tab5,#dp-tab6, #sanksi-true, #jns-keu-con, #opn-keu-con {
	display: none;
}

.form-horizontal .control-label, .panel-heading, .panel-body {
	text-align: left;
}

a.tab-disable {
	cursor: no-drop;
	color: #999999;
}
a.tab-disable:hover {
	color: #999999;
}

.navbar-default {
	background-color: #193D87;
	color: #FFF;
}

.navbar-default .navbar-brand, 
.navbar-default .navbar-nav>li>a{
	color: #FFF;
}

.navbar-default .navbar-brand:hover, 
.navbar-default .navbar-nav>li>a:hover{
	color: #E9F3EA;
	background: transparent;
}

.c-align{
	text-align: center;
}