.navbar {
	border-radius: 0;
}

.container-fluid {
	text-align: center;
}

.v-align{
	position: relative;
	top: 50%;
}

.v-align-left{
	position: relative;
	top: 50%;
	text-align: left;
}

.section-1 {
	height: 100vh;
}

#scoring {
	padding: 50px 30px;
}

.form-group {
	padding: 10px;
}

#result {
	padding-top: 70px;
}